<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mental Health App</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/appointment'}">Appointments</a>
                </li>
                <li sec:authorize="hasAnyRole('SPECIALIST')" class="nav-item">
                    <a class="nav-link" th:href="@{'/pacient'}">Pacients</a>
                </li>

                <li sec:authorize="hasAnyRole('PACIENT')" class="nav-item">
                    <a class="nav-link" th:href="@{'/specialist'}">Specialists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/appointment/form'}">
                        <i class="fas fa-plus-circle"></i> Add Appointment
                    </a>
                </li>

            </ul>

        </div>
    </nav>

</div>

<form enctype="multipart/form-data" method="post" th:action="@{/appointment}" th:object="${appointment}">

    <input th:field="*{appointmentType}" type="hidden"/>
    <input th:field="*{pacient.pacientId}" type="hidden"/>
    <input th:field="*{appointmentDate}" type="hidden"/>
    <input th:field="*{appointmentStatus}" type="hidden"/>



    <div class="container" style="margin-top: 50px">
        <div class="panel panel-default">
            <div  class="panel-heading">
                <h3> </h3>
            </div>

            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-5 ">

                        <div class="form-row">
                            <input id="pacientEmail" class="form-control" th:field="*{pacientEmail}" type="text" placeholder="pacientEmail"/>
                            <label for="pacientEmail" th:if="${#fields.hasErrors('pacientEmail')}" th:errors="*{pacientEmail}" class="text-danger">Error</label>
                        </div>
                        <br>
                        <div class="form-row">
                            <input id="specialistEmail" class="form-control" th:field="*{specialistEmail}" type="text" placeholder="specialistEmail"/>
                            <label for="specialistEmail" th:if="${#fields.hasErrors('specialistEmail')}" th:errors="*{pacientEmail}" class="text-danger">Error</label>
                        </div>
                        <br>
                        <div class="form-row">
                            <input id="appointmentType"  class="form-control" th:field="*{appointmentType}" type="text" placeholder="Type"/>
                            <label for="appointmentType" th:if="${#fields.hasErrors('appointmentType')}" th:errors="*{appointmentType}" class="text-danger">Error</label>
                        </div>
                        <br>
                        <div class="form-row">
                            <input id="appointmentDate" class="form-control" th:field="*{appointmentDate}" type="datetime-local" placeholder="Date"/>
                            <label for="appointmentDate" th:if="${#fields.hasErrors('appointmentDate')}" th:errors="*{appointmentDate}" class="text-danger">Error</label>
                        </div>
                        <br>


                    </div>

                </div>
                <div class="row">
                    <div class="col-md-1 ml-md-auto">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


</body>
</html>