<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Appointments List</title>

    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" th:href="@{'/'}"> <i class="fas fa-home mx-1"></i>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/appointment'}">Appointments</a>
                </li>
                <li sec:authorize="hasAnyRole('SPECIALIST')" class="nav-item">
                    <a class="nav-link" th:href="@{'/pacient'}">Pacients</a>
                </li>

                <li sec:authorize="hasAnyRole('PACIENT')" class="nav-item">
                    <a class="nav-link" th:href="@{'/specialist'}">Specialists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-primary" th:href="@{'/appointment/form'}">
                        <i class="fas fa-plus-circle"></i> Add Appointment
                    </a>
                </li>

            </ul>

        </div>
    </nav>
</div>
<div class="container">
    <td th:if="${pacients.size() == 0 || pacients.size() == null }">No pacient yet</td>
    <table th:if="${pacients.size() > 0}" class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Pacient Id</th>
            <th>Social Category</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="pacient, stat : ${pacients}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${pacient.id}">1</td>
            <td th:text="${pacient.socialCategory}"> Online</td>
            <td th:text="${pacient.username}">114</td>
            <td th:text="${pacient.firstName}">123</td>
            <td th:text="${pacient.lastName}">01.02.2024</td>

        </tr>

    </table>
</div>

</body>
</html>